DB_URL=postgresql+psycopg2://postgres:postgres@postgres_weather:5432/weatherdb
CITIES=Paris,London,Berlin,Madrid,Rome
OPENMETEO_BASE_URL=https://api.open-meteo.com/v1/forecast
HOURLY_VARS=temperature_2m,relative_humidity_2m,apparent_temperature,precipitation,wind_speed_10m
DAILY_VARS=temperature_2m_max,temperature_2m_min,precipitation_sum,wind_speed_10m_max
TIMEZONE=Europe/Paris
DATA_DIR=data
